/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 mars 2022, 16:43:52
    Author     : Lucas
*/

img {
  margin-right: 10px;
}

.jumbotron {    
    padding-bottom: 32px;
}

